version: "3.9"

services:
  backend:
    container_name: activity-backend
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: always

  frontend:
    container_name: activity-frontend
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "8501:8501"
    environment:
      BACKEND_URL: "http://backend:8000"
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    depends_on:
      - backend
    restart: always
